<div class="mt-4">
    <h3>Thông tin chó đã thêm</h3>

    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên chó</th>
            <th scope="col">Thời gian thêm</th>
            </tr>
        </thead>
        <tbody>
            {{#each Dogs}}
            <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="/dog/{{this._id}}/edit" class="btn btn-dark">Sửa</a>
                {{!-- them 'data-toggle="modal" data-target="#exampleModal" ' de hien thi lua chon khi an nut --}}
                <a href="" data-toggle="modal" data-id="{{this._id}}" data-target="#deleteDog" class="btn btn-dark">Xóa</a>
            </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- form delete ẩn --}}
<form name="delete-dog-form" method="post"></form>

{{!-- xac nhan xoa hay khong --}}
<div id="deleteDog" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa dữ liệu này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
        <button id="btn-deleteDog" type="button" class="btn btn-danger" data-id="{{this._id}}">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var dogId;
        var deleteForm = document.forms['delete-dog-form']
        var btnDeleteDog = document.getElementById('btn-deleteDog')

        $('#deleteDog').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            dogId = button.data('id');
    });

    btnDeleteDog.onclick = function() {
    deleteForm.action = '/dog/' + dogId + '?_method=delete';
    deleteForm.submit(); // Gửi yêu cầu xóa khi người dùng xác nhận
}

});
</script>